p{
    color: rgba(190, 55, 55, 0.7);
    background-color: antiquewhite;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

p:hover{
    transform: scale(1.1);
    border-radius: 10px;
}